body {
    background-color: #FFE4E1; /* Color rosa claro */
    font-family: 'Comic Sans MS', sans-serif; /* Fuentes divertidas y románticas */
    height: 100vh;
    margin: 0;
}

.pantalla {
    height: 100vh;
    display: none; /* Oculto por defecto */
}

.pantalla.especial {
    display: flex; /* Mostrar pantalla especial de forma predeterminada */
}

.text-love {
    color: #FF69B4; /* Rosa amoroso */
    font-size: 2rem;
}

h2 {
    background-color: rgba(255, 105, 180, 0.5); /* Fondo rosa semitransparente */
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 2.5rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Sombra para legibilidad */
}

.btn-love {
    background-color: #FF1493;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
}

.especial {
    background-image: url('img/redondo.png');
    background-size: cover;
    background-position: center;
}
