body {
    background-color: #FFE4E1; /* Color rosa claro */
    font-family: 'Comic Sans MS', sans-serif; /* Fuentes divertidas y románticas */
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Previene el desplazamiento */
}

.pantalla {
    height: 100vh;
    display: none; /* Oculto por defecto */
    overflow-y: auto; /* Permite desplazamiento vertical si el contenido es muy largo */
}

.pantalla.especial {
    display: flex; /* Mostrar pantalla especial de forma predeterminada */
}

.text-love {
    color: #FF69B4; /* Rosa amoroso */
    font-size: 2rem;
}

h2 {
    background-color: rgba(255, 105, 180, 0.5); /* Fondo rosa semitransparente */
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 2.5rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Sombra para legibilidad */
}

.btn-love {
    background-color: #FF1493;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.btn-love:hover {
    transform: scale(1.1);
}

.especial {
    background-image: url('img/redondo.png');
    background-size: cover;
    background-position: center;
}

/* Estilos responsivos para iPhone X y iPhone 11 */
@media screen and (max-width: 414px) { /* iPhone 11 Pro Max width */
    .text-love {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 2rem;
    }

    .btn-love {
        font-size: 1rem;
        padding: 8px 16px;
    }

    img.img-fluid {
        max-width: 80%;
        height: auto;
    }
}